:root {
	 --font-family: "Roboto", sans-serif;
	 --second-family: "Raleway", sans-serif;

	 --iris: #4d5ae5;
	 --ocean: #404bbf;
	 --navy-blue: #2e2f42;
	 --green: #31d0aa;
	 --slate: #434455;
	 --light-slate: #8e8f99;
	 --cornflower: #e7e9fc;
	 --cloud: #f4f4fd;
	 --navy-blue-modal: rgba(46, 47, 66, 0.4);
	 --grey: rgba(46, 47, 66, 0.7);
	 --white: #fff;
	 --dairy: #fcfcfc;

	}

h1,
h2,
p {
	margin: 0;
}
a {
	text-decoration: none;
}
body {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing:0.02em;
	color:var(--slate) ;
	
	background-color:rgb(149, 147, 147) ;
	max-width: 1470px;
	padding: 0 15px;
	margin:0 auto 0 auto;
}
	/* height: 100vh;  */


	/* Hidden title */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
  
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);   
	overflow: hidden;
  }


/* =========================================================== */
 /*General styles*/

 .list{
	list-style: none;
 }
 .btn{
	font-weight: 500;
	letter-spacing: 0.04em;
	color: var(--white);
	border-radius: 4px;
	padding: 16px 32px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background: var(--iris);	
 }

 /* ======header===== */
 /* =====footer===== */

