:root {
	 --font-family: , sans-serif;

	--main-color: ;
	--second-color: ;
	--light-grey: ;
	}

h1,
h2,
p {
	margin: 0;
}
a {
	text-decoration: none;
}
body {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	color: ;
	background-color: ;
	max-width: 1470px;
	padding: 0 15px;
	margin:0 auto 0 auto;
}
	/* height: 100vh;  */


	/* Hidden title */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
  
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);   
	overflow: hidden;
  }


/* =========================================================== */
